[core]
	editor = vim
[init]
	defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
[includeIf "gitdir:~/temp/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/ascending/"]
  path = .gitconfig-personal
[submodule]
	recurse = true
[push]
	recurseSubmodules = check
[alias]
	smu = submodule update --init --recursive
	sms = submodule status
	sma = submodule add
